.st-emotion-cache-1jicfl2 {
    width: 100%;
    padding: 0;
    min-width: auto;
    max-width: initial;
}
header, footer {
    visibility: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}